html {
  background-color: rgb(15, 15, 37);
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  color: white;
  box-sizing: inherit;
  margin: 0;
  padding: 10px;
  font-family: "Tilt Neon", sans-serif;
  text-shadow: 0 0 0.5em currentColor;
  user-select: none;

}

body {
  text-align: center;
}

h1 {
  font-size: 35px;
}
h1 span {
  font-size: 40px;
  color: rgb(66, 198, 255);
}

button {
  background-color: rgba(0, 0, 0, 0);
  margin: 0 12px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 16px;
  box-shadow: 0 0 0.5em currentColor;
}

#name-overlay {
  display: none;
  background-color: rgb(30, 30, 72);
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 250px;
  border: 2px solid white;
  border-radius: 18px;
}

#name-overlay div {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#name-overlay input {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
  height: 30px;
  font-size: 26px;
}
#name-overlay button {
  height: 36px;
  width: 30%;
  font-size: 26px;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  margin-left: 10px;
  align-items: center;
}

ul {
  margin: auto;
  margin-bottom: 200px;
  width: 450px;
  height: 450px;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}
ul::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 90%;
  left: 0;
  width: 100%;
  height: 50%;

  transform: perspective(1em) rotateX(5deg) scale(1, 0.25);
  filter: blur(8em);
  opacity: 0.5;
}

ui::after {
  content: "";
  opacity: 0.5;
}

ul li {
  border: 3px solid white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  box-shadow: 0 0 0.1em currentColor;
  cursor: pointer;
}

ul li:hover,button:hover {
  background-color: rgb(66, 198, 255);
  border-color: rgb(66, 198, 255);
  box-shadow: 0 0 100px rgb(66, 198, 255);
  transition: 150ms;
  scale: 1.1;

}

ul li:active,button:active {
  background-color: rgb(250, 113, 255);
  border-color: rgb(250, 113, 255);
  box-shadow: 0 0 100px rgb(250, 113, 255);
  transition: 80ms;
  scale: .9;
}
