html {
  background-color: rgb(15, 15, 37);
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  color: white;
  box-sizing: inherit;
  margin: 0;
  padding: 0.25rem;
  font-family: "Tilt Neon", sans-serif;
  text-shadow: 0 0 0.5em currentColor;
  user-select: none;
}

body {
  text-align: center;
}

#controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#controls button {
  width: 200px;
  margin: 0.25rem;
}

#header {
  font-size: 2rem;
}
#header span {
  font-size: 2.5rem;
  color: rgb(66, 198, 255);
}

button {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 1rem;
  font-size: 1rem;
  border: 3px solid white;
  border-radius: 16px;
  box-shadow: 0 0 0.5em currentColor;
}

#backdrop {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(5.5px);
}

@media (max-width: 768px) {
  #header{
    margin-top: 100px;
  }
}
