#hud {
  width: 380px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#hud div {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

#hud div li {
  margin: 0;
  padding: 0.25rem;
}

ol {
  margin: auto;
  margin-bottom: 200px;
  width: 400px;
  height: 400px;
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}
ol::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 80%;
  left: 0;
  width: 100%;
  height: 50%;

  transform: perspective(1em) rotateX(5deg) scale(1, 0.25);
  filter: blur(8em);
  opacity: 0.5;
}

ol::after {
  content: "";
  opacity: 0.5;
}

ol li {
  border: 3px solid white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  box-shadow: 0 0 0.1em currentColor;
  cursor: pointer;
}

ol li:hover,
button:hover {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 100px white;
  color: black;
  transition: 150ms;
  scale: 1.1;
}

ol li:active,
button:active {
  background-color: rgb(244, 176, 255);
  border-color: rgb(244, 176, 255);
  box-shadow: 0 0 100px rgb(244, 176, 255);
  transition: 80ms;
  scale: 0.9;
}

.disabled,
.disabled:hover {
  scale: inherit;
  color: inherit;
  background-color: inherit;
  border: 3px solid rgb(244, 176, 255);
  border-radius: 16px;
  display: flex;
  box-shadow: 0 0 0.1em currentColor;
}

#active-player {
  font-size: 1.25rem;
  color: rgb(244, 176, 255);
}

#game-over {
  display: none;
  padding: 50px 0 100px 0;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  background-color: rgb(15, 15, 37);
  font-size: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 600px;
  height: 450px;
  border: 2px solid white;
  border-radius: 18px;
}

#game-over button {
  width: 50%;
  font-size: 1.5rem;
  height: 4rem;
}

@media (max-width: 768px) {
  ol {
    width: 300px;
    height: 300px;
  }
  ol li {
    font-size: 50px;
  }

  #game-over {
    width: 90%;
    height: 450px;
  }

  #game-over button {
    width: 80%;
  }
}
